<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ishikawa_model -->
      <package
            uri="http://ishikawa_model"
            class="ishikawa_model.Ishikawa_modelPackage"/>
   </extension>

</plugin>
